<footer>
    <div class="container">
        <div style="border-top: 0.5px solid white">
        </div>
        <div class="text-center center-block">
            <a href="https://www.facebook.com/hanvitha"><i class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://github.com/hanvitha92"><i class="fa fa fa-github fa-3x social"></i></a>
            <a href="https://plus.google.com/+HanvithaGavini"><i class="fa fa-google-plus-square fa-3x social"></i></a>
            <a href="mailto:hanvitha.gavini@utdallas.edu"><i class="fa fa-envelope-square fa-3x social"></i></a>
            <a href="http://lastingrelationwithgod.blogspot.com/"><i class="fa fa-rss-square fa-3x social"></i></a>
            <a href="https://www.linkedin.com/in/hanvitha-gavini-44482524/"><i class="fa fa-linkedin-square fa-3x social"></i></a>
        </div>
        <br>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- Footer -->
</body>
